<mat-card *ngIf="cryptoCurrency">
    <mat-card-header>
        <img mat-card-avatar [src]="'https://www.cryptocompare.com'+cryptoCurrency.currencies[0].imageUrl">
        <mat-card-title>{{cryptoCurrency.name}}</mat-card-title>
        <mat-card-subtitle>Trading Data</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="currencyName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency Name </th>
                <td mat-cell *matCellDef="let currency"> {{currency.name}} </td>
            </ng-container>

            <ng-container matColumnDef="currencyValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency Value </th>
                <td mat-cell *matCellDef="let currency"> {{currency.price}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="currencyColumns"></tr>
            <tr mat-row *matRowDef="let currency; columns: currencyColumns;">/tr>
        </table>

    </mat-card-content>
</mat-card>