<div class="header">
    <h1>{{title}}</h1>


    <span>
        <mat-label>Refresh Every: </mat-label> {{selectedRefreshInterval}}
        <select matNativeControl [ngModel]="selectedRefreshInterval" name="car" (change)="changeInterval($event)">
            <!-- <option value="" selected></option> -->
            <option *ngFor="let interval of refreshIntervals" [value]="interval">
                {{interval}} seconds
            </option>
        </select>
    </span>
</div>

<div class="card-container" *ngIf="cryptoCurrencies">

    <app-crypto-currency-table
        *ngFor="let cryptoCurrency of cryptoCurrencies"
        [cryptoCurrency]="cryptoCurrency">
    </app-crypto-currency-table>

</div>